@font-face {
    font-family: moye ;
    src: url(./Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: moye;
    
}
.main{
    min-height: 100vh;
    width: 100vw;
    
}
nav{
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-shadow:2px 1px 2px #eee;
}
.right{
    display: flex;
    justify-content:space-evenly;
    gap: 25px;
    font-weight: 300;
    font-size: 17px;
}
.left>a>img{
    height: 140px;
    width: 160px;
}
section{
    width: 100%;
    height: 91vh;
    position: relative;
}
section>img{
    height: 322.913px;
    width: 767.312px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}
i{
    font-size: 25px;
}
#text{
    line-height: 50px;
    position: absolute;
    text-align: center;
    left:24%;
    top:80%;
    font-weight: 400;
    margin-bottom: 190px;
}
.po{
    font-size: 40px;
}
.ko{
    font-size: 22px;
}
button{
    background-color: #387ED1;
    color: #FFFFFF;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 3px;
    position: absolute;
    left:45%;
    top:100%;
}
button:hover{
    background-color: #222222;
    cursor: pointer;
}
.letf>a>img:hover{
    cursor: pointer;
}